body {
  font-family: "Roboto", sans serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  position: relative;
  margin-bottom: 80px;
  font-family: Gotham Pro;
  font-size: 20px;
  /* or 24px */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #40474e;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
}

@media screen and (min-width: 1500px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.button {
  padding: 20px 45px 18px 45px;
  font-family: Gotham Pro;
  font-size: 14px;
  /* or 16px */
  color: #6b97bb;
  background-color: transparent;
  border: 1px solid #6b97bb;
  text-transform: uppercase;
  cursor: pointer;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  padding: 13px 35px 11px 35px;
  background-color: #ffffff;
  border: 1px solid #aa182c;
  cursor: pointer;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ee8181;
}

.site-nav__link {
  font-family: "Roboto", sans serif;
  font-size: 16px;
  /* identical to box height, or 19px */
  text-transform: uppercase;
  color: #40474e;
}

.site-nav__item--accent {
  color: #aa182c;
}

.site-nav__item:not(:last-child) {
  margin-right: 42px;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__item:not(:last-child) {
  margin-right: 13px;
}

.hero__container {
  position: relative;
}

.hero__image {
  padding-top: 385px;
  padding-bottom: 186px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 8, 0.45)), to(rgba(5, 7, 8, 0.45))), url(../../images/hero-image.jpg);
  background-image: linear-gradient(rgba(5, 7, 8, 0.45), rgba(5, 7, 8, 0.45)), url(../../images/hero-image.jpg);
  background-position: center;
  background-size: cover;
}

.hero__title {
  padding-top: 65px;
  margin-bottom: 28px;
  font-family: "Roboto", sans serif;
  font-size: 86px;
  /* or 86px */
  color: #ffffff;
  text-transform: uppercase;
}

.hero__text {
  font-family: "Roboto", sans serif;
  font-size: 30px;
  /* or 42px */
  color: #ffffff;
}

.social {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social__item:not(:last-child) {
  margin-bottom: 20px;
}

.projects__container {
  padding-bottom: 433px;
}

.projects__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__title::after {
  position: absolute;
  left: 224px;
  bottom: 10px;
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background-color: #8d9aa5;
  border-radius: 2px;
}

.projects__image {
  position: absolute;
  right: 627px;
  max-width: 1070px;
}

.projects__box {
  position: relative;
  max-width: 540px;
  margin-right: 0px;
  margin-left: auto;
}

.projects__box--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__button--arrow {
  padding: 20px 15px 18px 15px;
  border: 1px solid #98a4ae;
  background-color: #ffffff;
}

.projects__button--left {
  margin-right: 10px;
}

.projects__button--right {
  fill: #aa182c;
}

.projects__subtitle {
  margin-top: 85px;
  margin-bottom: 40px;
  font-family: "Roboto", sans serif;
  font-size: 44px;
  /* or 57px */
  color: #40474e;
}

.projects__text {
  font-family: "Roboto", sans serif;
  font-weight: 300;
  font-size: 18px;
  /* or 25px */
  color: #40474e;
}

.projects__text:not(:last-child) {
  margin-bottom: 15px;
}

.projects__gallery {
  position: absolute;
  left: -180px;
  bottom: -345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__gallery--image:not(last-child) {
  margin-right: 40px;
}

.blog {
  background-color: #e5e5e5;
}

.blog__title::after {
  position: absolute;
  left: 319px;
  bottom: 10px;
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background-color: #8d9aa5;
  border-radius: 2px;
}

.instagram {
  background-color: #cfdae3;
}

.instagram__container {
  margin: 0 auto;
}

@media screen and (min-width: 1500px) {
  .instagram__container {
    max-width: 880px;
  }
}

.instagram__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.instagram__link--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #40474e;
}

.instagram__item--last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
  background-color: #ffffff;
}

.instagram__link {
  margin-top: 15px;
  margin-bottom: 18px;
  font-family: "Roboto", sans serif;
  font-size: 24px;
  /* identical to box height, or 29px */
  color: #40474e;
}

.instagram__button {
  padding: 15px 32px 13px;
  background-color: #6b97bb;
  border: none;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  /* or 16px */
  text-transform: uppercase;
  color: #f9f9fa;
  cursor: pointer;
}

.instagram__title {
  width: 410px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.instagram__title::after, .instagram__title::before {
  position: absolute;
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background-color: #8d9aa5;
  border-radius: 2px;
}

.instagram__title::after {
  left: 420px;
  bottom: 10px;
}

.instagram__title::before {
  left: -224px;
  bottom: 10px;
}

.form {
  position: absolute;
  right: 67px;
  top: 85px;
  background-color: #ffffff;
  padding: 76px 140px 100px;
}

.form__section {
  background-color: #e5e5e5;
}

.form__container {
  position: relative;
}

.form__title {
  margin-bottom: 16px;
  font-family: "Roboto", sans serif;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  text-align: center;
  color: #40474e;
}

.form__text {
  margin-bottom: 30px;
  font-family: "Roboto", sans serif;
  font-weight: 300;
  font-size: 18px;
  /* or 25px */
  color: #40474e;
}

.form__input {
  padding: 13px 20px;
  margin-bottom: 17px;
  display: block;
  width: 100%;
  border: 1px solid #cfdae3;
  font-family: "Roboto", sans serif;
  font-weight: 300;
  font-size: 16px;
  /* or 22px */
  color: #98a4ae;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 22px 17px 30px;
  font-family: "Roboto", sans serif;
  font-size: 14px;
  /* identical to box height, or 17px */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #6b97bb;
  border: none;
  cursor: pointer;
}

.form__arrow {
  fill: #ffffff;
}

.form__message {
  resize: none;
}

.footer {
  background-color: #6A737A;
}

.footer__container {
  padding-top: 80px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */